@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        .body{
            background: #eee;
        }
        .header{
            height: 20vh;
            padding-top: -1rem;
            text-align: center;
            background-color: #764AF1;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 0 20px 0 rgba(4, 9, 30, 0.7);
        }
        .header h3{
            font-size: 2rem;
            color: #F2F2F2;
            padding-top: 1rem;
            padding-bottom: 0.5rem;
        }
        .header input{
            width: 70%;
            height: 6vh;
            border: none;
            outline: none;
            transition: 0.1s;
            font-size: 1.25rem;
            padding-left: 20px;
            border-top-left-radius: 10px;
            background-color: aliceblue;
            border-bottom-left-radius: 10px;
        }
        .header input:hover, .header input:focus{
            border: 3px solid #FA1616;
            box-shadow: 0 0 20px 0 rgba(4, 9, 30, 0.7);
        }
        .header button{
            width: 10%;
            height: 6vh;
            color: #000;
            border: none;
            outline: none;
            transition: 0.1s;
            margin-left: -5px;
            font-size: 1.25rem;
            -ms-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            text-transform: uppercase;
            background-color: #f72828;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .header button:hover{
            background-color: #f30a0a;
            box-shadow: 0 0 20px 0 rgba(4, 9, 30, 0.4);
        }

        ul{
            height: 35rem;
        }
        ul li{
            cursor: pointer;
            font-size: 18px;
            transition: 0.2s;
            margin-left: 155px;
            margin-right: 155px;
            background: #FFFBE7;
            list-style-type: none;
            text-transform: uppercase;
            padding: 12px 8px 12px 20px;
            
        }
        ul li:hover{
            background: #9EDE73;
            box-shadow: 0 0 20px 0 rgba(4, 9, 30, 0.4);
        }
        ul li.done{
            color: #fff;
            background: #D1C145;
            text-decoration: line-through;
        }
        ul li.done:hover{
            box-shadow: 0 0 20px 0 rgba(4, 9, 30, 0.4);
        }
        .close{
            border: none;
            outline: none;
            text-align: right;
            margin-left: 2rem;
            font-size: 1.25rem;
            background: transparent;
            padding: 5px 10px 5px 10px;
        }       
        .close:hover {
            color: #f44336;
        }